<div class="container mt-3">
    <h2 class="text-center mb-4 title-text">🍴 Add Your Recipe</h2>
    <form class="form-container shadow-lg p-4 rounded">
      <!-- Recipe Name -->
      <div class="mb-4">
        <label for="recipeName" class="form-label">Recipe Name</label>
        <div class="input-group">
          <span class="input-group-text icon-bg" id="nameIcon">🍽️</span>
          <input type="text" name="recipeName" [(ngModel)]="recipeName" class="form-control" id="recipeName" placeholder="Enter your recipe name" aria-describedby="nameIcon">
        </div>
      </div>
  
      <!-- Instructions and Ingredients -->
      <div class="mb-4">
        <label for="recipeDetails" class="form-label">Instructions and Ingredients</label>
        <textarea class="form-control" id="recipeDetails" name="instructions" [(ngModel)]="instruction" rows="5" placeholder="List your ingredients and instructions here"></textarea>
      </div>
  
      <!-- Image Upload -->
      <div class="mb-4">
        <label for="recipeImage" class="form-label">Upload Recipe Image</label>
        <div class="input-group">
          <span class="input-group-text icon-bg" id="uploadIcon">📸</span>
          <input class="form-control" name="image" [(ngModel)]="image" type="file" id="recipeImage" accept="image/*" aria-describedby="uploadIcon">
        </div>
      </div>
  
      <!-- Categories Dropdown -->
      <div class="mb-4">
        <label for="recipeCategory" class="form-label">Category</label>
        <div class="input-group">
          <span class="input-group-text icon-bg" id="categoryIcon">📋</span>
          <select name="category" [(ngModel)]="category" class="form-select" id="recipeCategory">
            <option selected>Select a category</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>
      </div>
  
      <!-- Submit Button -->
      <div class="text-center">
        <button type="submit" *ngIf="!recipeId" (click)="addRecipe()" class="btn btn-primary btn-lg rounded-pill submit-btn">Add Recipe</button>
        <button type="submit" *ngIf="recipeId" (click)="updateRecipe()" class="btn btn-warning btn-lg rounded-pill submit-btn">Update Recipe</button>
      </div>
    </form>
  </div>
  
  <br>