<div class="container mt-3">
    <div class="row">
      <ng-container *ngFor="let item of categories">
        <div class="col-md-4  mb-4">
          <div class="card">
            <div class="row m-2">
              <div class="col-6">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text text-muted text-container" [innerHTML]="item.description">{{item.description}}</p>
             </div>
             <div class="col-6">
              <img [src]="item.image || 'https://cdn.vectorstock.com/i/1000v/50/20/no-photo-or-blank-image-icon-loading-images-vector-37375020.jpg'"
            class="card-img-top product-image" alt="Product">
             </div>
            </div>
            <div class="row m-2">
              <div class="col-6">
                <button class="btn btn-warning rounded-pill w-100" routerLink="/categories-form/edit-category/{{item.id}}">Edit</button>
              </div>
              <div class="col-6">
                <button class="btn btn-danger rounded-pill w-100" (click)="delete(item.id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="loader-overlay" *ngIf="loader">
    <div class="spinner"></div>
  </div>