<div class="container mt-3">
    <div class="row">
      <ng-container *ngFor="let item of categories">
        <div class="col-md-4  mb-4">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text text-muted text-container" [title]="item.instruction">{{item.description}}</p>
            </div>
            <div class="row m-2">
              <div class="col-6">
                <button class="btn btn-warning rounded-pill w-100" routerLink="/categories-form/edit-category/{{item.id}}">Edit</button>
              </div>
              <div class="col-6">
                <button class="btn btn-danger rounded-pill w-100" (click)="delete(item.id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
