<div class="container mt-3">
  <div class="row">
    <ng-container *ngFor="let item of recipe">
      <div class="col-md-4  mb-4">
        <div class="card">
          <img
            [src]="item.image || 'https://cdn.vectorstock.com/i/1000v/50/20/no-photo-or-blank-image-icon-loading-images-vector-37375020.jpg'"
            class="card-img-top product-image" alt="Product">
          <div class="card-body d-flex flex-column">
            <h4 class="card-title  text-primary">{{item.category.name}}</h4>
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text text-muted text-container" [innerHTML]="item.instruction">{{item.instruction}}</p>
            <div class="d-flex justify-content-between">
              <button class="btn btn-success" (click)="toggleLike(item)" [ngClass]="{'liked': item.isLiked}">
                <i class="bi" [ngClass]="item.isLiked ? 'bi-suit-heart-fill' : 'bi-suit-heart'"></i>
              </button>
              <a routerLink="/recipe-details-page/recipe-details/{{item.id}}" class="btn btn-primary"><i
                  class="bi bi-book"></i></a>
              <button class="btn btn-info"><i class="bi bi-share-fill"></i></button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="loader-overlay" *ngIf="loader">
  <div class="spinner"></div>
</div>