<div class="container mt-3">
  <div class="row">
    <ng-container *ngFor="let item of recipe">
      <div class="col-md-4  mb-4">
        <div class="card">
          <!-- <img [src]="item.image" class="card-img-top" alt="Recipe Image"> -->
          <div class="card-body d-flex flex-column">
            <!-- <h4 class="card-title  text-primary">{{item.category}}</h4> -->
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text text-muted" [title]="item.instruction">{{item.instruction}}</p>
            <div class="d-flex justify-content-between">
              <button class="btn btn-success" [routerLink]="['/user-dashboard']"><i
                  class="bi bi-suit-heart-fill"></i></button>
              <button class="btn btn-primary" data-bs-toggle="collapse" href="#commentSection2" role="button"
                aria-expanded="false" aria-controls="commentSection2"><i
                  class="bi bi-chat-right-heart-fill"></i></button>
              <button class="btn btn-info"><i class="bi bi-share-fill"></i></button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>