ul{position: fixed;
    bottom: 0;
    width: 100%;
}

a i{
    font-size: 30px;
    color: black;
}


button{
    color: rgb(255, 56, 89) !important;
    border: none; 
}

.btn-primary{
    --bs-btn-bg: none !important;
}

.navbar {
    --bs-navbar-padding-x: none !important;
    --bs-navbar-padding-y: none !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #ecdcbf;
}
  
.btn:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
 
.form-control{
    border-radius: 30px;
    width: 250px;
    padding-left: 40px;
    height: 35px;
}

.search-btn{
    position: absolute;
    right: 10px;
}

.offcanvas {
    background-image: url('https://img.freepik.com/premium-photo/food-ingredients-spices-aged-background_182252-2054.jpg?w=360');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.offcanvas-header img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.offcanvas-body {
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
}

.offcanvas-body h1 {
    font-size: 2.5rem;
    color: #ff6f61;
}

.offcanvas-body p {
    font-size: 1.1rem;
    color: #aa4c20;
    line-height: 1.5;
}

.offcanvas-body .btn {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    transition: all 0.5s ease;
}

.offcanvas-body .btn:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.offcanvas-body h2 {
    margin-top: 1rem;
    font-size: 2rem;
}

.offcanvas-body .shadow-lg {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
