ul{position: fixed;
    bottom: 0;
    width: 100%;
}

a i{
    font-size: 30px;
    color: black;
}


button{
    color: rgb(255, 56, 89) !important;
    border: none; 
}

.btn-primary{
    --bs-btn-bg: none !important;
}

.navbar {
    --bs-navbar-padding-x: none !important;
    --bs-navbar-padding-y: none !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #ecdcbf;
}

.offcanvas {
    background-image: url('https://img.freepik.com/premium-photo/food-ingredients-spices-aged-background_182252-2054.jpg?w=360');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
.offcanvas-body{
    color: rgb(153, 38, 38);
}

.offcanvas-body h1{
    font-size: 40px;
    font-family: serif;
}
  
.btn:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
 
.form-control{
    border-radius: 30px;
    width: 270px;
    padding-left: 60px;
    height: 40px;
}

.search-btn{
    position: absolute;
}