<div class="container mt-5">
    <h2 class="text-center mb-4 title-text">🔐 Log In</h2>
    <form class="form-container p-4 rounded">
  
      <div class="mb-4">
        <label for="userEmail" class="form-label">Email</label>
        <div class="input-group">
          <span class="input-group-text icon-bg" id="emailIcon">📧</span>
          <input type="email" name="email" [(ngModel)]="email" class="form-control" id="userEmail" placeholder="Enter your email" aria-describedby="emailIcon">
        </div>
      </div>
  
      <!-- Password -->
      <div class="mb-4">
        <label for="userPassword" class="form-label">Password</label>
        <div class="input-group">
          <span class="input-group-text icon-bg" id="passwordIcon">🔒</span>
          <input type="password" name="password" [(ngModel)]="password" class="form-control" id="userPassword" placeholder="Enter your password" aria-describedby="passwordIcon">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <a routerLink="/auth/sign-up">New Regestration</a>
        </div>
        <div class="col-6 text-end">
          <a routerLink="/auth/forget-password">Forget Password</a>
        </div>
      </div>

      
  
      <!-- Submit Button -->
      <div class="text-center">
        <button type="submit" (click)="logIn()" class="btn btn-primary rounded-pill submit-btn">Submit</button>
      </div>
    </form>
  </div>
  
  <div class="loader-overlay" *ngIf="loader">
    <div class="spinner"></div>
  </div>
