<div class="container mt-5">
    <h2 class="text-center mb-4 title">Add Categories</h2>
    <form class="form-container shadow-lg p-4 rounded">
        
        <div class="mb-4">
            <label for="categoryName" class="form-label">Category Name</label>
            <div class="input-group">
                <span class="input-group-text icon-bg" id="categoryIcon">📋</span>
                <input type="text" class="form-control" id="categoryName" placeholder="Enter your category name" aria-describedby="nameIcon">
            </div>
        </div>

        
    </form> 
</div>
