.custom-container{
    background-image: url("https://img.freepik.com/premium-photo/food-ingredients-paper-white_182252-2665.jpg?w=360" );
    min-height: 100vh;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    text-align: justify;
    font-size: 20px;
}