.text-container {
  display: -webkit-box; /* Use flexbox for truncation */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Show "..." at the end */
  line-clamp: 5; /* Display only 3 lines (you can adjust this to 4) */
  -webkit-line-clamp: 5; /* This works for WebKit-based browsers */
  width: 100%; /* Adjust container width as needed */
}

/* Profile Image Container */
.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  border: 3px solid rosybrown;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: #f8f8f8;
}

/* Profile Image */
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fully fits within the circular border */
  border-radius: 50%;
}

/* File Input */
.profile-image input {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  cursor: pointer;
  width: 100%; /* Allows clicking anywhere below the image */
  height: 30px;
  z-index: 10;
}

/* Upload Button */
.upload-btn {
  display: block;
  margin: 15px auto;
  padding: 5px 10px;
  background-color: rosybrown;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.upload-btn:hover {
  background-color: #b37a7a;
}

/* Form wrapper */
.form-container {
  width: 100%;
  max-width: 400px; /* Set a max-width for the form */
  padding: 20px;
  background-color: #fff7f8; /* Light background color for the form */
  border-radius: 15px; /* Rounded corners for the form */
}

/* Styling for form labels */
.form-label {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #6f4f37; 
  font-weight: bold;
}

/* Styling for input fields (removing border and improving focus) */
.no-border {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #6f4f37; /* Subtle brown text color */

  margin-bottom: 5px;
}



.btn {
  color: white;
  border: none;
  width: 100%;
  padding: 6px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
}


button:hover {
  background-color: #d68aff;
  cursor: pointer;
}

/* Responsive design */
@media (max-width: 768px) {
  .profile-form-container {
    padding: 10px;
  }
  .form-container {
    padding: 15px;
    max-width: 100%;
  }
}


.btn {
  width: 200px!important;
}