<div class="profile-image">
  <img
    [src]="imageUrl || 'https://cdn.vectorstock.com/i/1000v/50/20/no-photo-or-blank-image-icon-loading-images-vector-37375020.jpg'"
    alt="Profile Image">
</div>

<div class="container my-2 text-center">
  <!-- Hidden File Input -->
  <input type="file" id="fileInput" accept="image/*" style="display: none;" (change)="onFileSelected($event)" />

  <!-- Update Profile Button -->
  <label for="fileInput" class="btn btn-warning rounded-pill" style="background-color: #cc97f7; cursor: pointer;">
    Update Profile image
  </label>
</div>

<div class="text-center">
  <button class="btn btn-primary rounded-pill" *ngIf="userId == '8Y394XhY5OVRtSGi1N0ugFtB9Fl1'"
    routerLink="/categories-form">Add category</button>
</div>
<br>

<div class="profile-form-container justify-content-center d-flex">
  <div class="form-container">
    <div class="row">
      <div class="col-3 my-auto">
        <label for="name" class="form-label">Name</label>
      </div>
      <div class="col-9">
        <input type="text" id="name" class="form-control no-border" [(ngModel)]="userDetails.name">
      </div>
    </div>

    <div class="form-group d-flex">
      <label for="phone" class="form-label">Phone Number</label>
      <input type="tel" id="phone" class="form-control no-border" [(ngModel)]="userDetails.phoneNumber">
    </div>
  </div>
</div>

<br>



<div class="container">
  <div class="text-center">
    <button class="btn btn-warning rounded-pill" style="  background-color: #cc97f7;"
      (click)="updateLoggedinUser()">Update profile</button>
  </div>

  <div class="form-container mt-4" *ngFor="let myRecipe of myRecipes">

    <div class="row my-4">
      <div class="col-12 my-auto">
        <h4>{{myRecipe.name}}</h4>
      </div>

      <img
        [src]="myRecipe.image || 'https://cdn.vectorstock.com/i/1000v/50/20/no-photo-or-blank-image-icon-loading-images-vector-37375020.jpg'">

      <div class="col-12">
        <p class="text-container" [innerHTML]="myRecipe.instruction">{{myRecipe.instruction}}</p>
      </div>
      <div class="col-6">
        <button class="btn btn-warning rounded-pill" routerLink="/home/edit-recipe-form/{{myRecipe.id}}">Edit</button>
      </div>
      <div class="col-6">
        <button class="btn btn-danger rounded-pill w-100" (click)="delete(myRecipe.id)">Delete</button>
      </div>
    </div>
  </div>
</div>

<br><br><br><br>

<div class="loader-overlay" *ngIf="loader">
  <div class="spinner"></div>
</div>