<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://media.istockphoto.com/id/595734992/photo/variety-of-garnished-soups-in-colorful-bowls.jpg?s=1024x1024&w=is&k=20&c=D_QVKbKkeLc8BdurYf8JJa24mlB3GH013xn7mU_PvGk=" routerLink="/recipe-details" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.istockphoto.com/id/1027342108/photo/soup-pho-bo.jpg?s=1024x1024&w=is&k=20&c=RMl0JdZWASgwh5NBGPd-mLxtjTVCwXK-odEgUkLSVAc=" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.istockphoto.com/id/935003996/photo/candies-with-jelly-and-sugar-colorful-array-of-different-childs-sweets-and-treats.jpg?s=2048x2048&w=is&k=20&c=0v_oBJigV4xe7_pAf8WRJQml0gjUAlwBn-ukLKW5TY8=" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-6">
        <img routerLink="/home/recipe-list"  src="https://media.istockphoto.com/id/670526200/photo/poha-indian-snacks.jpg?s=612x612&w=0&k=20&c=iEVKSfRzmcHxPIz1fKQBNzmcRpLbseh5vjXaRVckRZA=" alt="Image 1" class="img-fluid" />
        <p >BreakFast</p>
      </div>
      <div class="col-6">
        <img routerLink="/home/recipe-list" src="https://media.istockphoto.com/id/639389404/photo/authentic-indian-food.jpg?s=612x612&w=0&k=20&c=gbfAu17L1gtHmuo5biByhfCefAtYUtGQpyxMmi9_Mus=" alt="Image 2" class="img-fluid" />
        <p >Lunch</p>
      </div>
      <div class="col-6">
        <img routerLink="/home/recipe-list" src="https://media.istockphoto.com/id/1093661558/photo/indian-dish-chicken-tikka-masala.jpg?s=2048x2048&w=is&k=20&c=Vs5bnZF1sP4rmXB3-zVewLUOCLOVOjDC6PFbe_3WIVE=" alt="Image 3" class="img-fluid" />
        <p >Dinner</p>
      </div>
      <div class="col-6">
        <img routerLink="/home/recipe-list" src="https://images.pexels.com/photos/2205270/pexels-photo-2205270.jpeg" alt="Image 4" class="img-fluid" />
        <p >Dessert</p>
      </div>
      <div class="col-6">
        <img routerLink="/home/recipe-list" src="https://media.istockphoto.com/id/1263440954/photo/salty-snacks-assortment-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=UZgCrm_jvJDhF6g_7-ZOHPrW6a8C8TLMnWgdzP03B_w=" alt="Image 5" class="img-fluid" />
        <p >Snacks</p>
      </div>
      <div class="col-6">
        <img routerLink="/home/recipe-list" src="https://media.istockphoto.com/id/1053227310/de/foto/k%C3%BCrbissalat-mit-roter-beete-rucola-und-feta-k%C3%A4se.jpg?s=612x612&w=0&k=20&c=Cv9MwKq_uYpOJksBtmCf8KBAgSL53uppfbYcAZoql7Y=" alt="Image 6" class="img-fluid" />
        <p >Salad</p>
      </div>
    </div>
  </div>
  